.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.portfolio_item {
    padding: 1rem;
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio_item:hover {
    border-color: var(--color-primary-variant);
    color: black;
    background-image: linear-gradient(to right, rgb(250, 52, 214), rgb(93, 243, 191));
}

.portfolio_item_image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3 {
    margin: 1.2rem 0.2rem;
}

.portfolio_item_items {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn {
    padding: .6rem;
}

@media screen and (max-width: 1024px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}